<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

    <resultMap id="memberMap" type="com.bs.spring.member.model.dto.Member">
        <id column="USERID" property="userId"/>
        <result column="PASSWORD" property="password"/>
        <result column="USERNAME" property="userName"/>
        <result column="GENDER" property="gender"/>
        <result column="AGE" property="age"/>
        <result column="EMAIL" property="email"/>
        <result column="PHONE" property="phone"/>
        <result column="ADDRESS" property="address"/>
        <result column="HOBBY" property="hobby" typeHandler="strToArr" />
        <result column="ENROLLDATE" property="enrollDate"/>
    </resultMap>

    <select id="searchById" resultMap="memberMap">
        SELECT * FROM MEMBER WHERE USERID=#{userId}
    </select>
    <insert id="enrollMember" parameterType="member">
        INSERT INTO MEMBER VALUES(#{userId},#{password},#{userName},#{gender},#{age},#{email},#{phone},#{address},#{hobby, typeHandler=strToArr},SYSDATE)
    </insert>

</mapper>